<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.instagram.com/airbnb/" target="_blank" >
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/airbnb/" target="_blank" >
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/in/joelkunjumon" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/listings/privacy">Privacy</a>
      <a href="/listings/terms">Terms</a>
    </div>
  </div>
</footer>

